body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center; /* 수평 중앙 정렬 */
    align-items: center; /* 수직 중앙 정렬 */
    height: 100vh;
    margin: 0;
    text-align: center;
}

.container {
    width: 600px; 
    text-align: center;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

form {
    box-sizing: border-box;
    width: 100%; /* 폼이 컨테이너와 같은 너비 */
    margin-bottom: 20px;
}

input, select {
    width: 90%; /* 입력 필드 너비 */
    height: 3em;
    line-height: 2em;
    padding: 3px 10px;
    margin: 10px 0;
    background: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
}

input[type="submit"] {
    background: lightblue;
    width: 95%;
    cursor: pointer;
}

input[type="submit"]:hover {
    background: lightcoral;
}

.message {
    margin-top: 20px;
    font-size: 14px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    width: 100%; /* 메시지가 컨테이너와 같은 너비 */
    max-width: 600px; /* 최대 600px로 설정 */
    box-sizing: border-box;
}

.message.success {
    color: #28a745;
    background-color: #e6ffe6;
}

.message.error {
    color: #dc3545;
    background-color: #ffe6e6;
}
