<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/email_join.css">
    <title>이메일로 회원가입</title>
</head>
<body>
    <div class="container">
        <h1>이메일로 회원가입</h1>
        <form action="email_join_action" method="post">
            <input type="text" name="name" placeholder="이름" required/>
			<div class="email-container">
	            <input type="text" name="email" placeholder="이메일" required/>
				<button type="button" id="verify-email-button">이메일 인증</button>
				<span id="email-verified-check" class="hidden">&#10004; 인증 완료</span>				
			</div>
			<input type="text" id="email-code" placeholder="인증 코드 입력" class="hidden" required />
			<button type="button" id="verify-code-button" class="hidden">코드 확인</button>
			<div id="verification-message" class="hidden"></div>
			
            <input type="password" name="password" placeholder="패스워드" required/>
            <input type="password" name="password2" placeholder="패스워드 확인" required/>
            <select name="sex">
                <option value="남">남</option>
                <option value="여">여</option>
            </select>
            <input type="text" name="address" placeholder="주소" />
            <input type="text" name="phone" placeholder="연락처" />
            <input type="submit" value="입력 완료" id="signup-submit" disabled />
        </form>
		<a href="/join" class="join">아이디로 회원가입</a>
        <div class="message success" th:if="${messageType == 'success'}" th:text="${message}"></div>
        <div class="message error" th:if="${messageType == 'error'}" th:text="${message}"></div>
    </div>
	
	<script src="/js/email_join.js"></script>
</body>
</html>
